*{
    text-align: left;
    font-family: "Sacramento", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.94);

}
.body{
    margin: 0;
}

p{
    position: relative;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow: 0 0 0.15em #830eff;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.007em);
    animation: shake 2.5s linear forwards;
}

#cols {
    display: flex;
    width: 1700px;
}

.col {
    margin-left: 90px;
    width: 900px;
    height: 805px;
    text-align: center;
    font-size: 30px;
    animation: pulsate 1.5s infinite alternate;
    border: 0.3rem solid #fff;
    border-radius: 1rem;
    padding: 1.3em;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe;
}

h1, h2 {
    color: azure;
    text-align: left;
    font-weight: 400;
    font-size: 25px;
}
.tasks{
    display: flex;
    list-style-type: none;
    margin: 0px;
    align-items: center;
}

.completed{
    text-decoration: line-through;
}
.error{
    position: fixed;
    top: 400px;
    color: red;
}

.cards{

    list-style-type: none;
    width: 95%;
    background-color: #8e9ce8;
    padding: 2px;
    margin-bottom: 10px;
}

ul {
    padding-left: 20px;
}

p{
    margin: 5px;
    text-wrap: normal;
}
.addform{
    color: azure;
    margin-left: 50px;
    margin-right: 50px;
    height: 200px;
    width: 300px;
    font-size: 28px;
}
input[type="text"], textarea {
    height: 30px;
    width: 250px;
    background-color: rgba(163, 76, 234, 0.58);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.93);
    display: inline-block;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font: normal 25px/1.6 system-ui, sans-serif;
    text-shadow: 0 2px 1px hsl(237, 100%, 58%);
    margin: 2rem;

}
.zxc {

                                                     background-color: #EA4C89;
                                                     border-radius: 8px;
                                                     border-style: none;
                                                     box-sizing: border-box;
                                                     color: #ffffff;
                                                     cursor: pointer;
                                                     display: inline-block;
                                                     font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
                                                     font-size: 14px;
                                                     font-weight: 500;
                                                     height: 40px;
                                                     line-height: 20px;
                                                     list-style: none;
                                                     outline: none;
                                                     padding: 10px 16px;
                                                     position: relative;
                                                     text-align: center;
                                                     text-decoration: none;
                                                     transition: color 100ms;
                                                     vertical-align: baseline;
                                                     user-select: none;
                                                     -webkit-user-select: none;
                                                     touch-action: manipulation;
    margin-left: 30px;

    align-items: center;
    background-color: #6f01c9;
}


