*{
    text-align: left;
    font-family: "Sacramento", sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.95);
}
.body{
    margin: 0;
}

p{
    position: relative;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow: 0 0 0.15em #830eff;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.007em);
    animation: shake 2.5s linear forwards;
}

#cols {
    display: flex;
    width: 1700px;
}

.col {
    margin-left: 90px;
    width: 900px;
    height: 805px;
    text-align: center;
    font-size: 30px;
    animation: pulsate 1.5s infinite alternate;
    border: 0.3rem solid #fff;
    border-radius: 1rem;
    padding: 1.3em;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe;
}

h1, h2 {
    color: azure;
    text-align: left;
    font-weight: 400;
    font-size: 25px;
}

ul {
    padding-left: 20px;
}

p{
    margin: 5px;
    text-wrap: normal;
}
.addform{
    color: azure;
    margin-left: 50px;
    margin-right: 50px;
    height: 200px;
    width: 300px;
    font-size: 28px;
}
input[type="text"], textarea {
    height: 25px;
    width: 250px;
    color: #ff5d9b;
    background: #ac1eff linear-gradient(22deg, rgba(115, 0, 255, 0.79), rgba(154, 30, 255, 0.74), rgba(196, 20, 255, 0.85)) fixed;
    font: normal 25px/1.6 system-ui, sans-serif;
    text-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.75);
    margin: 3rem;

}

